:root {
  --blue: #00236A;
  --yellow: #FCCF0E;
  --gray-dark: #151421;
  ;
  --gray-light: #B9B9B9;
}
/* #region theme */
.blue {
  color: var(--blue)
}
.yellow {
color: var(--yellow)
}
.gray-dark {
  color: var(--gray-dark)
}
.gray-light{
  color: var(--gray-light)
}
.bg-blue {
  background-color: var(--blue)
}
.bg-yellow {
  background-color: var(--yellow)
}
.bg-gray-dark {
  background-color: var(--gray-dark)
}
.bg-gray-light{
  background-color: var(--gray-light)
}

.border-yellow {
  border: 1px solid var(--yellow);
}
.border-blue {
  border: 1px solid var(--blue);
}
.border-gray-light {
  border: 1px solid var(--gray-light);
}

/* #endregion */

/* BASIC STYLES HERE */
.logo-img {
  max-height: 12vh;

}

.main-img {
  object-fit: cover;
  object-position: top;
  overflow: hidden;
  width: 50vh;
  max-height: 194px;
  padding: 4px 24px;
  border-radius: 16px;
  background-color: var(--gray-light);
  box-shadow: 5px 5px 12px var(--grey-dark);
}
