:root {
  --blue: #00236A;
  --yellow: #FCCF0E;
  --grey-dark: #151421;
  --grey-light: #B9B9B9;
}
/* #region theme */
.blue {
  color: var(--blue)
}
.yellow {
color: var(--yellow)
}
.grey-dark {
  color: var(--grey-dark)
}
.grey-dark{
  color: var(--grey-light)
}
.bg-blue {
  background-color: var(--blue)
}
.bg-yellow {
  background-color: var(--yellow)
}
.bg-grey-dark {
  background-color: var(--grey-dark)
}
.bg-grey-dark{
  background-color: var(--grey-light)
}


/* #endregion */

/* BASIC STYLES HERE */

.main-img {
  object-fit: cover;
  object-position: center;
  max-width: 50vh;
  max-height: 50%;
}
